/*---------header__------*/

/*==================HERO=====================*/

/* ---------Модальная кнопка открытия окна--------- */

/* -------------Модальное окно------------- */

/* --------------Modal Form---------------------- */

/*=====================Features===================*/

/*===================Activity============*/

/*==============Team===================*/

/* ===================CLIENTS================= */

/*==================FOOTER===================*/

/*-------footer__social-list--------*/

.footer__links {
  padding-top: 12px;
}

.footer__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--another-main-color);
  margin-bottom: 20px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
}

.footer__social-item {
  width: 44px;
  height: 44px;
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.footer__social-icon {
  width: 20px;
  height: 20px;
}

.footer__social-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--another-main-color);
  transition: var(--transition-background-color);
}

.footer__social-link:hover,
.footer__social-link:focus {
  background-color: var(--accent-color);
  outline: none;
}

/*-------footer__mailing--------*/

.footer__form {
  padding-top: 12px;
  margin-left: 92px;
}

.footer__mailing-wrap {
  display: flex;
}

.footer__mailing-field {
  display: inline-block;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--another-main-color);
  margin-right: 12px;
  transition: var(--transition-border);
}

.footer__mailing-field:hover {
  border-color: var(--accent-color);
  outline: none;
}

.footer__mailing-field::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__mailing-field:focus:not(:placeholder-shown):valid {
  border-color: var(--accent-color);
  outline: none;
}

.footer__mailing-field:focus:not(:placeholder-shown):invalid {
  border-color: red;
  outline: none;
}

.footer__btn-text {
  display: inline-block;
  margin-right: 10px;
}

.footer__mailing-icon {
  width: 24px;
  height: 24px;
}

.footer__mailing-btn {
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 28px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--another-main-color);
  fill: var(--another-main-color);
  cursor: pointer;
  transition: var(--transition-background-color);
}

.footer__mailing-btn:hover,
.footer__mailing-btn:focus {
  background-color: #188ce8;
}

/*=================Web-Studio portfolio==============*/
/*=================Filter buttons================*/
.filter-btn-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  justify-content: center;
}

.filter-btn-link:not(:last-child) {
  margin-right: 10px;
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 8px 24px;
  transition: var(--transition-color), var(--transition-background-color),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.portfolio-btn.current,
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--another-main-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  /* outline: none; */
}

/*-------------product-card examples-------------*/

.product-card-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.product-card {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.product-card__link {
  display: block;
}

.product-card__wrapper {
  position: relative;
  overflow: hidden;
}

.product-card__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.product-card-overlay {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--another-main-color);
  background-color: rgba(33, 150, 243, 0.9);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-card__link:hover .product-card-overlay,
.product-card__link:focus .product-card-overlay {
  transform: translateY(0);
}

.product-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  /* outline: none; */
}

.product-card__text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.product-card__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.product-card__type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--small-text-color);
}
