:root {
  --main-color: #212121;
  --accent-color: #2196f3;
  --small-text-color: #757575;
  --another-main-color: #ffffff;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-fill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-background-color: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  --transition-border: body 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
  background: var(--another-main-color);
  color: var(--main-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  /* outline: none; */
}

.menu-link.current {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*---------HEADER-------*/
.top-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.block-nav {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 94px;
}

.blue-text-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  display: block;
  position: relative;
  transition: var(--transition-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
  /* outline: none; */
}

.menu-link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -35px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.header-mail {
  margin-right: 50px;
  margin-left: auto;
}

.header-contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--small-text-color);
  fill: var(--small-text-color);
  transition: var(--transition-color), var(--transition-fill);
}

.header-icon {
  margin-right: 10px;
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  outline: none;
}

/*==================HERO=====================*/
.hero {
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero/hero-img.jpg);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--another-main-color);
  max-width: 696px;
  margin: 0 auto 30px;
}

/* ---------Модальная кнопка открытия окна--------- */

.modal-btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--another-main-color);
  cursor: pointer;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  padding: 10px 32px;
  transition: var(--transition-background-color);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
}

/* -------------Модальное окно------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  min-width: 528px;
  min-height: 580px;
  background: var(--another-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--another-main-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #000000;
  cursor: pointer;
  transition: var(--transition-fill);
}

.close-icon {
  visibility: inherit;
  pointer-events: inherit;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--accent-color);
}

/* --------------Modal Form---------------------- */

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-input-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--small-text-color);
  margin-bottom: 10px;
}

.modal-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 12px;
  transition: var(--transition-border);
}

.modal-textarea-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--small-text-color);
  margin-bottom: 20px;
}

.input-icon-wrap {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--main-color);
  transform: translateY(-50%);
  transition: var(--transition-fill);
}

.modal-input:hover,
.modal-input:focus,
.modal-user-coment:hover,
.modal-user-coment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.modal-input:hover ~ .input-icon-wrap,
.modal-input:focus ~ .input-icon-wrap {
  fill: var(--accent-color);
}

.modal-user-coment {
  width: 100%;
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  transition: var(--transition-border);
}

.modal-user-coment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox-lable {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--small-text-color);
}

.modal-check-wrap {
  position: relative;
}

.modal-checkbox {
  position: absolute;
  bottom: 0;
  left: 8px;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.policy-link {
  color: var(--accent-color);
}

.modal-checkbox:checked + .modal-checkbox-lable::before {
  background-image: url("../img/icon-agree-check.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 15px;
}

/* .modal-checkbox:focus + .modal-checkbox-lable::before {
  background-image: url("../img/icon-agree-check.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 15px;
} */

.modal-checkbox + .modal-checkbox-lable::before {
  background-image: url("../img/icon-agree-uncheck.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 15px;
}

.modal-checkbox-lable::before {
  content: "";
  display: block;
  cursor: pointer;
  margin-right: 7px;
}

.modal-form-submit {
  align-self: center;
  margin-top: 30px;
}
/*=====================Features===================*/
.features-list {
  display: flex;
  justify-content: space-between;
}

.features-item {
  width: 270px;
}

.feature-icon-wrapping {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.feature-icon {
  width: 70px;
  height: 70px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-item-desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--small-text-color);
}

/*===================Activity============*/
.activity {
  padding-top: 0;
}

.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.activity-list {
  display: flex;
  justify-content: space-between;
}

.activity-item {
  width: 370px;
  height: 294px;
  position: relative;
}

.activity-item > .activity-pic-lable {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px 0;

  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--another-main-color);
}

.activity-pic {
  max-width: 100%;
  height: auto;
}

/*==============Team===================*/
.team {
  background: #f5f4fa;
}

.team-cards-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-cards-item {
  background: var(--another-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.team-card-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding: 30px 32px;
}

.member-name {
  font-weight: 500;
  margin-bottom: 10px;
}

.member-proffesion {
  color: var(--small-text-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: var(--transition-background-color), var(--transition-fill);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: var(--another-main-color);
  outline: none;
}

/* ===================CLIENTS================= */

.clients {
  background-color: var(--another-main-color);
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.client-item {
  width: 170px;
  height: 92px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: transparent;
  fill: #afb1b8;
  transition: var(--transition-fill),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.client-link:focus,
.client-link:hover {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  outline: none;
}

/*==================FOOTER===================*/
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrap {
  display: flex;
}

.footer-contacts {
  margin-right: 70px;
}

.white-text-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--another-main-color);
  display: block;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--another-main-color);
  transition: var(--transition-color);
}

.info-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: var(--transition-color);
}

.address-location:hover,
.address-location:focus,
.info-link:hover,
.info-link:focus {
  color: var(--accent-color);
  /* outline: none; */
}

/*-------footer-social-list--------*/

.footer-links {
  padding-top: 12px;
}

.footer-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--another-main-color);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icon {
  width: 20px;
  height: 20px;
}

.footer-social-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--another-main-color);
  transition: var(--transition-background-color);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
  outline: none;
}

/*-------footer-mailing--------*/

.footer-form {
  padding-top: 12px;
  margin-left: 92px;
}

.footer-mailing-wrap {
  display: flex;
}

.footer-mailing-field {
  display: inline-block;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--another-main-color);
  margin-right: 12px;
  transition: var(--transition-border);
}

.footer-mailing-field:hover {
  border-color: var(--accent-color);
  outline: none;
}

.footer-mailing-field::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-mailing-field:focus:not(:placeholder-shown):valid {
  border-color: var(--accent-color);
  outline: none;
}

.footer-mailing-field:focus:not(:placeholder-shown):invalid {
  border-color: red;
  outline: none;
}

.footer-btn-text {
  display: inline-block;
  margin-right: 10px;
}

.footer-mailing-icon {
  width: 24px;
  height: 24px;
}

.footer-mailing-btn {
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 28px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--another-main-color);
  fill: var(--another-main-color);
  cursor: pointer;
  transition: var(--transition-background-color);
}

.footer-mailing-btn:hover,
.footer-mailing-btn:focus {
  background-color: #188ce8;
}

/*=================Web-Studio portfolio==============*/
/*=================Filter buttons================*/
.filter-btn-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  justify-content: center;
}

.filter-btn-link:not(:last-child) {
  margin-right: 10px;
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 8px 24px;
  transition: var(--transition-color), var(--transition-background-color),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.portfolio-btn.current,
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--another-main-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  /* outline: none; */
}

/*-------------Work examples-------------*/

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.work-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.work-link {
  display: block;
}

.card-wrapper {
  position: relative;
  overflow: hidden;
}

.work-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-overlay-text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--another-main-color);
  background-color: rgba(33, 150, 243, 0.9);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-link:hover .card-overlay-text,
.work-link:focus .card-overlay-text {
  transform: translateY(0);
}

.work-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  /* outline: none; */
}

.work-item-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.work-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.work-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--small-text-color);
}
